.navigation {
    margin-left: auto;
    margin-right: 54px;
}

.navigation__list {
    display: flex;
    align-items: center;
    gap: 33px;
    list-style: none;
}

.navigation__link {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}